SocialCopsService TestClient/ConsoleTest/ConsoleTest/Service References/CoreService/Core32.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1/Core.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/CoreService.Models" />
  <xs:element name="TestConnection">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="TestConnectionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TestConnectionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="user" nillable="true" type="q1:userItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveUserResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThirdPartyLogin">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="user" nillable="true" type="q2:userItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ThirdPartyLoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ThirdPartyLoginResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComplaint">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="complaint" nillable="true" type="q3:complaintItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComplaintResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveComplaintResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaints">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetComplaintsResult" nillable="true" type="q4:ArrayOfcomplaintItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetComplaintsByIdResult" nillable="true" type="q5:complaintItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByCategory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="category" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByCategoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetComplaintsByCategoryResult" nillable="true" type="q6:ArrayOfcomplaintItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByStatus">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="complaintStatus" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByStatusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetComplaintsByStatusResult" nillable="true" type="q7:ArrayOfcomplaintItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetComplaintsByCityResult" nillable="true" type="q8:ArrayOfcomplaintItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetComplaintsByStateResult" nillable="true" type="q9:ArrayOfcomplaintItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetComplaintsByCountryResult" nillable="true" type="q10:ArrayOfcomplaintItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByPinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetComplaintsByPinResult" nillable="true" type="q11:ArrayOfcomplaintItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetComplaintsByUserIdResult" nillable="true" type="q12:ArrayOfcomplaintItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByAuthId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="authId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComplaintsByAuthIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetComplaintsByAuthIdResult" nillable="true" type="q13:ArrayOfcomplaintItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetComments">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="complaintId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetCommentsResult" nillable="true" type="q14:ArrayOfcommentItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCommentsByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetCommentsByUserIdResult" nillable="true" type="q15:ArrayOfcommentItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLikes">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="complaintId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLikesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetLikesResult" nillable="true" type="q16:ArrayOflikeItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLikesByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLikesByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetLikesByUserIdResult" nillable="true" type="q17:ArrayOflikeItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveComment">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="comment" nillable="true" type="q18:commentItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveCommentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveCommentResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLike">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="like" nillable="true" type="q19:likeItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveLikeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveLikeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpam">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="complaintId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetSpamResult" nillable="true" type="q20:ArrayOfspamItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpamByUserId">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userId" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSpamByUserIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetSpamByUserIdResult" nillable="true" type="q21:ArrayOfspamItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSpam">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="spam" nillable="true" type="q22:spamItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSpamResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSpamResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsers">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetUsersResult" nillable="true" type="q23:ArrayOfuserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetUserByIdResult" nillable="true" type="q24:userItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetUsersByNameResult" nillable="true" type="q25:ArrayOfuserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUserByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetUserByEmailResult" nillable="true" type="q26:userItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByPoints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="points" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByPointsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetUsersByPointsResult" nillable="true" type="q27:ArrayOfuserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByRank">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="rank" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByRankResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetUsersByRankResult" nillable="true" type="q28:ArrayOfuserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetUsersByCityResult" nillable="true" type="q29:ArrayOfuserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetUsersByStateResult" nillable="true" type="q30:ArrayOfuserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetUsersByCountryResult" nillable="true" type="q31:ArrayOfuserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByPinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetUsersByPinResult" nillable="true" type="q32:ArrayOfuserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByComplaints">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetUsersByComplaintsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q33="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetUsersByComplaintsResult" nillable="true" type="q33:ArrayOfuserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSubscription">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q34="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="subscription" nillable="true" type="q34:subscriptionItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveSubscriptionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveSubscriptionResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscribers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscribersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetSubscribersResult" nillable="true" type="q35:ArrayOfuserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscribedTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSubscribedToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetSubscribedToResult" nillable="true" type="q36:ArrayOfuserItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuths">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetAuthsResult" nillable="true" type="q37:ArrayOfauthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q38="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetAuthByIdResult" nillable="true" type="q38:authorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q39="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetAuthsByNameResult" nillable="true" type="q39:ArrayOfauthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetAuthByEmailResult" nillable="true" type="q40:authorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsByCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsByCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetAuthsByCityResult" nillable="true" type="q41:ArrayOfauthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetAuthsByStateResult" nillable="true" type="q42:ArrayOfauthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsByCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsByCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetAuthsByCountryResult" nillable="true" type="q43:ArrayOfauthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsByPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsByPinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetAuthsByPinResult" nillable="true" type="q44:ArrayOfauthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsByPending">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsByPendingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetAuthsByPendingResult" nillable="true" type="q45:ArrayOfauthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsBySolved">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="num" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAuthsBySolvedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetAuthsBySolvedResult" nillable="true" type="q46:ArrayOfauthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMuteAuth">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="muteAuth" nillable="true" type="q47:muteAuthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveMuteAuthResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveMuteAuthResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuths">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetMuteAuthsResult" nillable="true" type="q48:ArrayOfmuteAuthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsById">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetMuteAuthsByIdResult" nillable="true" type="q49:ArrayOfmuteAuthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetMuteAuthsByNameResult" nillable="true" type="q50:ArrayOfmuteAuthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByCity">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="city" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByCityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetMuteAuthsByCityResult" nillable="true" type="q51:ArrayOfmuteAuthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByState">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="state" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByStateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetMuteAuthsByStateResult" nillable="true" type="q52:ArrayOfmuteAuthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByCountry">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="country" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByCountryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetMuteAuthsByCountryResult" nillable="true" type="q53:ArrayOfmuteAuthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByEmail">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="email" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByEmailResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetMuteAuthsByEmailResult" nillable="true" type="q54:ArrayOfmuteAuthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByPin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pin" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetMuteAuthsByPinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CoreService.Models" minOccurs="0" name="GetMuteAuthsByPinResult" nillable="true" type="q55:ArrayOfmuteAuthorityItem" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>